<template>
  <div class="flex mt-20 flex-col justify-center">
    <List />
    <Navigation />
  </div>
</template>

<script>
import List from "../components/List";
import Navigation from "../components/Navigation";
export default {
  components: { List, Navigation }
};
</script>

<style></style>
