<template>
  <div>
    <button :class="buttonClass" @click="$router.push(`/`)">Return</button>
    <h1 class="text-center text-2xl">
      TODO list for
      {{
        currentUserList.find(
          usr => parseInt(usr.id) === parseInt(this.$route.params.id)
        ).name
      }}
    </h1>
    <div v-for="task in currentTODOs" :key="task.id" class="ml-20 ">
      <label class="inline-flex items-center">
        <input
          type="checkbox"
          class="form-checkbox h-6 w-6"
          :checked="task.completed"
        />
        <span class="ml-2">{{ task.title }}</span>
      </label>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
export default {
  data() {
    return {
      buttonClass:
        "bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded m-2 focus:outline-none"
    };
  },
  methods: mapActions(["fetchTODOs"]),
  created() {
    this.fetchTODOs(this.$route.params.id);
  },
  computed: mapState(["currentTODOs", "currentUserList"])
};
</script>

<style>
input[type="checkbox"] {
  pointer-events: none;
}
</style>
