<template>
  <div class="flex flex-col items-center">
    <Row
      v-for="user in currentUserList"
      :key="user.id"
      :name="user.name"
      :email="user.email"
      :phone="user.phone"
      :id="user.id.toString()"
    />
  </div>
</template>

<script>
import Row from "./ListRow";
import { mapActions, mapState } from "vuex";
export default {
  components: {
    Row
  },
  data() {
    return {};
  },
  computed: mapState(["currentUserList"]),
  methods: mapActions(["fetchUsers"]),
  created() {
    if (!this.currentUserList.length) {
      this.fetchUsers(1);
    }
  }
};
</script>

<style></style>
