<template>
  <div
    class="flex space-x-4 bg-gray-200 rounded p-3 text-center m-2 justify-center cursor-pointer lg:w-1/2 md:w-9/12 sm:w-9/12"
    @click="$router.push(`/todo/${id}`)"
  >
    <div class="text-lg">{{ name }}</div>
    <div class="text-gray-700">{{ email }}</div>
    <div class="text-gray-700">{{ phone }}</div>
  </div>
</template>

<script>
export default {
  props: {
    name: String,
    email: String,
    phone: String,
    id: String
  }
};
</script>

<style>
.list-row-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10px;
  border: 1px black solid;
  padding: 3px;
  box-shadow: dimgrey 3px 3px;
}
</style>
