<template>
  <div class="grid grid-cols-3">
    <div
      class="bg-blue-500 text-white font-bold py-2 px-4 rounded text-center self-center justify-self-end mr-8 tn:mr-20"
    >
      {{ currentPage }} page
    </div>
    <div class="flex justify-center">
      <button @click="fetchUsers(1)" :class="buttonClass">First</button>
      <button
        @click="currentPage != 1 ? fetchUsers(parseInt(currentPage) - 1) : null"
        class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l focus:outline-none"
      >
        Prev
      </button>
      <button
        @click="
          currentPage != totalPages
            ? fetchUsers(parseInt(currentPage) + 1)
            : null
        "
        class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r focus:outline-none"
      >
        Next
      </button>
      <button @click="fetchUsers(totalPages)" :class="buttonClass">Last</button>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  data() {
    return {
      buttonClass:
        "bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded m-2 focus:outline-none"
    };
  },
  computed: mapState(["totalPages", "currentPage"]),
  methods: mapActions(["fetchUsers"])
};
</script>

<style></style>
